body{
	background-color: #262626;
}

#stats{
	background-color: white;
}

#equipo{
	background-color: white;
}

table thead td {
	font-weight: bold;
	font-size: 12px;
}

table tbody td {
	font-weight: normal;
}

.single-comment{
	margin-top:15px;
}

.insert-comment{
	margin-bottom: 50px;
}

.comment-date{
	position: absolute;
	font-size: 10px;
	right: 20px;
	bottom: 20px;
}

.comments-body{
	padding-left: 50px;
	padding-right: 50px;
}

.delete-comment{
	padding-top:5px;
	padding-bottom:5px;
	height: 50px;
	cursor: pointer;
}

.comment-user-name{
	font-size: 10px;
	font-weight: bold;
}

.votacion-body{
	padding-left: 50px;
	padding-right: 50px;
}

.btn-probar-pincho{
	background-color: #808080;
	color: white;
	text-align: center;
	vertical-align: center;
	height: 30px;
	line-height: 30px;
	transition: 0.1s;
}

.btn-probar-pincho:hover{
	background-color: #D1D1D1;
	color: black;
	transition: 0.1s;
}

.btn-votar-pincho{
	background-color: #636363;
	color: white;
	text-align: center;
	vertical-align: center;
	height: 30px;
	line-height: 30px;
	transition: 0.1s;
}

.btn-votar-pincho:hover{
	background-color: #D1D1D1;
	color: black;
	transition: 0.1s;
}

.pincho-info{
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 15px;
}

.pincho-image{
	background-color: black;
}
.pincho-image img{
	opacity: 1;
	transition: 0.1s;
}

.pincho-image img:hover{
	opacity: 0.8;
	transition: 0.1s;
}

.admin-options{
	padding-left: 50px;
}

.admin-user-table{
	padding-left: 50px;
	padding-right: 50px;
}

.edit-button{
	margin-right: 10px;
}

.btn-register-professional{
	margin-bottom: 15px;
}

#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}					

#map{
	height: 600px;
}

.form-enviar-propuesta{
	padding-left: 50px;
	padding-right: 50px;
}